body {
    background-color: #849D8F;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 27px;
    width: 1200px;
    background-color: #849D8F;
    color: black;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.log__page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
}

.log__static {
    width: 23%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 118px;
    margin: 0 auto;
    margin-top: 10px;
    width: 1147px;
}

.header__logo {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

/*Стилизация для слайдера*/

.first__theme {
    background: url('../img/ice_cream_1.png') calc(50% - 130px) 90px no-repeat, 
	            url('../img/ice_cream_2.png') calc(50% + 167px) 132px no-repeat, 
	            url('../img/bg_theme_1.png') center 1px no-repeat;
    background-size: 360px, 325px, 50%;
    background-color: #849D8F;
}

.second__theme {
    background-color: #8996A6;
    background-image: url('../img/ice_cream_3.png'), url('../img/ice_cream_4.png'),
	url('../img/bg_theme_2.png');
}

.third__theme {
    background-color: #9D8B84;
    background-image: url('../img/ice_cream_5.png'), url('../img/ice_cream_6.png'), url('../img/bg_theme_3.png');
}

.slider__active .slider__action {
    font-size: 32px;
    line-height: 44px;
    padding: 10px 40px;
}

.slider__scroll {
    min-width: 435px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider__main {
    margin-top: 265px;
    margin-bottom: 40px;
}

.slider__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 10px;
}

.slider__title p {
    -ms-flex-preferred-size: 710px;
    flex-basis: 710px;
    margin: 0;
    text-align: center;
}

.slider__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: center;
    margin-bottom: 20px;
}

.radio__style label {
    cursor: pointer;
    position: relative;
    margin-right: 29px;
}

.radio__style label::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.radio__style input[type=radio]:hover + label::before {
    background: rgba(255, 255, 255, 0.4);
}

.radio__style input[type=radio]:checked + label::before {
    background: #fff;
}

.radio__style input[type=radio]:focus ~ label::before {
    -webkit-box-shadow: 0 0 10px rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 10px rgba(46, 136, 228, 0.52);
}

/*Стилизация навигация в хедере*/

.header__nav {
    max-width: 579px; 
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 13px;
    margin-left: 5px;
    list-style: none;
    position: relative;
}

.nav__menu .nav__item {
    padding: 8px 15px;
    margin-bottom: 15px;
}

.nav__item:first-child:hover .nav__submenu {
    display: block;
    z-index: 2;
}

.nav__link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(189, 253, 253, 0.2);
    color: white;
    font-size: 16px;
}

.nav__item__active {
    background: #D07058;
    border-radius: 20px;
    margin: 0;
}

.nav__link__active {
    border-bottom: none;
}

.nav__menu .nav__item:hover {
    background: #F7F6F3;
    border-radius: 20px;
}

.nav__menu .nav__item:active {
    background: -o-linear-gradient(bottom, #EDEDED, #EDEDED), rgba(248, 247, 244, 0.99);
    background: -webkit-gradient(linear, left bottom, left top, from(#EDEDED), to(#EDEDED)), rgba(248, 247, 244, 0.99);
    background: linear-gradient(0deg, #EDEDED, #EDEDED), rgba(248, 247, 244, 0.99);
    -webkit-box-shadow: inset 0px 2px 1px #696969;
    box-shadow: inset 0px 2px 1px #696969;
}

.nav__menu li:hover .nav__link {
    color: #323232;
}

.nav__submenu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    min-width: 150px;
    left: -6px;
    top: 40px;
    border-radius: 5px;
    background-color: whitesmoke;
    z-index: 1;
}

.nav__submenu li {
    overflow: hidden;
}

.nav__submenu a {
    display: block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20px;
    color: black;
    text-decoration: none;
    margin: 0;
}

.hover__layer__menu {
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 1;
    right: 0px;
    padding-top: 20px;
}

.nav__submenu li:hover {
    background: #FBDED8;
}

.nav__submenu li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav__submenu li:first-child {
    font-weight: bold;
}

.nav__submenu li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav__submenu li:active {
    background: #F6B5A5;
}

.submenu__item__active {
    background: #D07058;
}

.submenu__item__active a {
    color: white;
}

.nav__submenu li:first-child::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}

ul.nav__menu  a:hover {
    color: black;
}

.breadcrumbs {
	margin-top: -30px;
	position: relative;
	z-index: 1;
	max-width: 80%;
}

.breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li,
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.breadcrumbs a:hover {
    border-bottom-color: rgba(255, 188, 158, 0.2);
}

.breadcrumbs a:after {
	content: '»';
	right: -13px;
	position: absolute;
}

.breadcrumbs li:not(:last-child) {
    margin-right: 20px;
}

/*Стилизация кнопок и контактов в хедере*/

.header__interactive {
    width: 270px;
    margin-top: 10px;
    margin-left: auto;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.header__interactive [class*=__btn] {
    color: white;
    font-weight: 500;
    margin-left: 5px;
}

.search,
.login,
.cart {
    position: relative;
}

.search__btn:focus,
.login__btn:focus,
.cart__btn:focus {
    -webkit-box-shadow: 0 0 10px #6897c7;
    box-shadow: 0 0 10px #6897c7;
}

.search:hover .hover__container,
.login:hover .hover__container,
.cart:hover .hover__container {
    display: block;
    z-index: 2;
}

.search__btn {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2) url('../img/svg/loupe.svg') center no-repeat;
    border-radius: 50%;
    outline: none;
    border: none;
}

.search:hover .search__btn {
    background-image: url('../img/svg/loupe_black.svg');
    background-color: #F8F7F4;
}

.search__form {
    padding: 20px 15px;
    background: #F8F7F4;
    -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.search__form input {
    width: 314px;
}

.login__btn {
    outline: none;
    display: block;
    color: #ffffff;
    border: none;
    font-weight: normal;
    border-radius: 20px;
    padding: 9px 18px;
    padding-left: 45px;
    background: url('../img/svg/entrance_white.svg') 15px center no-repeat;
    background-color: rgba(255, 255, 255, 0.2);
}

.login:hover .login__btn {
    background-image: url('../img/svg/entrance.svg');
    color: black;
    background-color: #F8F7F4;
}

.login__form button {
    font-style: normal;
}

.login .login__form {
    padding: 10px 17px 20px;
    background: #F8F7F4;
    -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.login__form input {
    min-width: 241px;
}

.login__active__elem {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 20px;
}

.login__active__elem .modal__send__btn {
	padding: 12px 25px;
}

.login__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 48px;
}

.login__links a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login__form a {
	display: block;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
    font-weight: normal;
}

.cart__item__img {
    width: 33px;
}

.cart__btn {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 9px 18px;
    padding-left: 45px;
    background: url('../img/svg/basket.svg') 15px center no-repeat;
    background-color: rgba(255, 255, 255, 0.2);
}

.cart .items__inside {
    background: url('../img/svg/basket-red.svg') 15px center no-repeat;
    background-color: #F8F7F4;
    font-weight: bold;
    color: #323232;
}

.cart__items {
    text-align: right;
    width: 556px;
    background: #F8F7F4;
    -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px 10px 25px;
    font-size: 13px;
    line-height: 16px;
}

.cart__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #323232;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}

.cart__item__delete {
    width: 25px;
    height: 25px;
    background: url('../img/svg/cross-small.svg') center no-repeat;
    border: none;
}

.cart__item__title {
    width: 245px;
    text-align: left;
}

.cart__item__count {
    width: 123px;
}

.cart__item__count span {
    color: darkgrey;
}

.cart__item__total {
    width: 79px;
}

.cart__total__cost {
    font-size: 15px;
    line-height: 18px;
    color: #323232;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin: 0 10px;
    margin-bottom: 24px;
}

.place__order.modal__send__btn {
    text-decoration: none;
    margin-right: 10px;
 	font-weight: bold;
 	padding: 10px 15px;
}

.place__order:hover {
    color: #FFFFFF;
}

.header__contacts {
    text-align: right;
    font-weight: bold;
}

.header__time {
    margin: 0;
}

a.header__tel {
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

/*Стилизация спец. предложений*/

.special__offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    margin-bottom: 30px;
}

.special__offer {
    font-weight: bold;
    padding: 20px 15px;
    border-radius: 15px;
    -ms-flex-preferred-size: 531px;
    flex-basis: 531px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.special__offer.crimson {
    background-color: crimson;
    background: url('../img/bg_crimson.jpg') center no-repeat;
}

.special__offer.choco {
	background-color: #483227;
    background: url('../img/bg_choco.jpg') center no-repeat;
}

.offer__title {
    font-size: 35px;
    line-height: 41px;
    color: #fff;
    padding-left: 7px;
}

.offer__descr {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-left: 6px;
    margin-bottom: 40px;
    text-align: justify;
}

.offer__link {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

/*Стилизация фильтров*/
.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter legend {
    margin-left: 20px;
}

.filters {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.filters fieldset {
    border: none;
    margin-right: 10px;
    padding: 0;
}

.filters fieldset:last-of-type {
    margin-right: 0;
}

.range-controls {
    position: relative;
    margin: 7px 0;
    min-width: 182px;
}

.range-controls .scale {
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 60%;
    height: 4px;
    margin-left: 20px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    padding: 2px;
}

.range-toggle:hover {
    background: #1c4f80;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.range-toggle-min {
    left: 20px;
}

.range-toggle-max {
    left: 110px;
}

.filters .filter__container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px 15px 11px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.filters select {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    min-width: 200px;
    padding: 10px 15px 9px;
    border: 1px solid transparent;
    min-height: 39px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: url('../img/svg/icon-down-dir-white.svg') 165px 15px no-repeat;
}

.filters select:focus {
	border: 1px solid rgb(46, 136, 228);
}

.filters select::-ms-expand {
  	display: none;
}

.filters select:hover {
	background: url('../img/svg/icon-down-dir.svg') 165px 15px no-repeat;
	background-color: #FFFFFF;
    color: #343434;
}

.sort .filter__container {
    padding: 0;
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    overflow: hidden;
}

.filters option {
    padding: 15px;
    color: #343434;
    font-size: 14px;
    line-height: 20px;
}

.fatness__filter .filter__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.fatness__filter .radio__style__fatness {
    position: relative;
}

.fatness__filter span {
    position: absolute;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.8;
    z-index: -1;
}

.radio__style__fatness label {
    cursor: pointer;
    padding-left: 30px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.radio__style__fatness:hover span,
.radio__style__fatness:hover span::before,
.filler__filter label:hover::before {
    opacity: 1;
}

.radio__style__fatness:last-child label {
    margin-right: 0;
}

.radio__style__fatness input[type=radio]:checked + span::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    left: 4px;
    top: 4px;
    opacity: 0.8;
}

.fatness__filter input[type=radio]:focus + span {
    -webkit-box-shadow: 0 0 5px rgb(46, 136, 228);
    box-shadow: 0 0 5px rgb(46, 136, 228);
}

.fatness__filter input[type=radio]:disabled + span,
.fatness__filter input[type=radio]:disabled + span:before, 
.filler__filter input[type=checkbox]:disabled + label::before {
    opacity: 0.4;
}

.filler__filter label {
    padding-left: 50px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.filler__filter label:first-of-type {
    padding-left: 37px;
}

.filler__filter label:first-of-type::before {
    left: 0px;
}

.filler__filter label::before {
    content: '';
    opacity: 0.8;
    position: absolute;
    left: 15px;
    top: -3px;
    width: 26px;
    height: 26px;
    background: url('../img/svg/checkbox-off.svg') 1px center no-repeat;
}

.filler__filter input[type=checkbox]:checked + label::before {
    background: url('../img/svg/checkbox-on.svg') 1px center no-repeat;
}

.filler__filter input[type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 3px rgb(46, 136, 228);
    box-shadow: 0 0 3px rgb(46, 136, 228);
}

.apply__filter {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    background: rgba(255, 255, 255, 0.2);
    padding: 9px 28px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 15px;
}

.apply__filter:hover {
    color: #323232;
    background: #FFFFFF;
    cursor: pointer;
}

.apply__filter:active {
    background: #EDEDED;
    -webkit-box-shadow: inset 0px 1px 1px #696969;
    box-shadow: inset 0px 1px 1px #696969;
    border-color: transparent;
}

.pagination {
	margin-top: 55px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination li {
    margin: 0;
    margin-right: 1px;
    min-width: 28px;
    min-height: 25px;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination li:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination li:hover a {
	color: white;
}

.pagination li:active {
    background: white;
    border-radius: 50%;
}

.pagination li:active a {
    color: #353535;
    font-weight: 500;
}

.page__active {
	background: white;
    border-radius: 50%;
}

.page__active .page__num {
	color: #353535;
    font-weight: 500;
}


.pagination a {
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.pagination li:first-child {
	margin-right: 5px;
}

.pagination li:last-child {
	margin-left: 5px;
}

.pagination li:first-child,
.pagination li:last-child {
    background: url('../img/svg/icon-right-small.svg') center no-repeat;
}

.pagination li:first-child:hover,
.pagination li:last-child:hover {
    background: url('../img/svg/icon-right-small-hov.svg') center no-repeat;
    cursor: pointer;
}

.pagination li:first-child {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Стилизация хитов и каталога*/

.hit__items,
 .catalog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog {
    margin-bottom: 30px;
}

.catalog__items {
    margin-bottom: 40px;
}

.hit__item, 
.catalog__item {
    -ms-flex-preferred-size: 262px;
    flex-basis: 262px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 4px;
    position: relative;
    padding: 5px 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: -10px;
}

.hit__item:nth-child(4n + 1), 
.catalog__item:nth-child(4n) {
    margin-right: 0px;
}

.hit__item:hover,
.catalog__item:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: -54px;
    z-index: 1;
}

.hit__item:hover .fast__view,
.catalog__item:hover .fast__view {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.hit__item .item__title,
.catalog__item .item__title {
    text-align: center;
    min-height: 44px;
}

.hit__item a:not(.modal__send__btn),
.catalog__item a:not(.modal__send__btn) {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    line-height: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit__item a:hover,
.catalog__item a:hover {
    border-bottom-color: rgba(255, 188, 158, 0.2);
    color: #FFBC9E;
}

.hit__item .item__price,
.catalog__item .item__price {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    line-height: 13px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    position: absolute;
    top: 230px;
    left: 10px;
}

.item__price span {
    font-size: calc(45px - 35%);
    font-weight: 600;
}

.hit__item::before {
    content: '';
    position: absolute;
    width: 61px;
    height: 61px;
    background: url('../img/svg/hit.svg') center no-repeat;
    border-radius: 50%;
}

.fast__view {
    display: none;
    font-weight: bold;
}

/*Стилизация СЕО*/
.advantages {
    border-radius: 20px;
    background: url('../img/bg_waffle.jpg') center;
    background-color: #efe6c9;
    padding: 30px 20px 0px;
    margin-bottom: 40px;
}

.advantages .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    margin-right: 70px;
    margin-bottom: 5px;
    margin-top: 0;
}

.advantage__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-bottom: 20px;
}

.advantage__items p {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    position: relative;
    -ms-flex-preferred-size: 488px;
    flex-basis: 488px;
    margin-top: 20px;
    margin-bottom: 0;
}

.advantage__descr {
    padding-left: 60px;
}

.advantage__items p::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    top: -13px;
}

.advantage__items p:first-child::before {
    background: url('../img/svg/ice-cream.svg') center no-repeat;
}

.advantage__items p:last-child::before {
    background: url('../img/svg/thermometer.svg') center no-repeat;
}

.advantage__items p:nth-child(2)::before {
    background: url('../img/svg/cow.svg') center no-repeat;
}

.advantage__items p:nth-child(3)::before {
    background: url('../img/svg/eco.svg') center no-repeat;
}

/*Стилизация блога*/

.info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    margin-bottom: 25px;
}

.info__block .blog {
    background: url('../img/bg_strawberry.jpg') -33px -215px no-repeat;
    background-color: white;
}

.info__block .blog,
.info__block .subscribe__form__container {
    -ms-flex-preferred-size: 554px;
    flex-basis: 554px;
    border-radius: 15px;
    min-height: 215px;
}

.info__block * {
    margin-bottom: 10px;
}

.info__block .blog__new {
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 510;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.blog h3 {
    max-width: 309px;
    padding-left: 20px;
    margin-top: 0;
}

.info__block .blog__link:hover {
    border-bottom-color: rgba(255, 188, 158, 0.2);
    color: #FFBC9E;
}

.info__block .blog__link {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    border-bottom: 2px solid #323232;
}

.subscribe__form .subscribe__note {
    font-size: 16px;
    line-height: 22px;
    color: #5A5A5A;
    margin-bottom: 15px;
    padding: 30px 18px 20px;
    margin-top: 0;
}

.subscribe__form__container {
    background: url('../img/bg_mail.jpg') no-repeat;
    background-color: #f8f7f4;
    background-repeat: repeat-y;
}

.info__block .subscribe__form {
    background: #F8F7F4;
    font-size: 16px;
    line-height: 22px;
    color: #5A5A5A;
    border-radius: 10px;
    margin: 6px;
    min-height: 205px;
}

.subscribe__form button {
    margin-left: 15px;
}

.subscribe__form input {
    width: 325px;
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    margin-left: 20px;
    margin-bottom: 40px;
}

/*Стилизация контатков*/

.contacts {
    position: relative;
}

.static__map {
    background: url('../img/svg/pin.svg') 265px 140px no-repeat,
				url('../img/bg_map.jpg') center no-repeat;
    width: 1200px;
    height: 432px;
    padding: 0;
    margin: 0;
    margin-left: -27px;
    position: absolute;
}

.map__api {
    width: 100vw;
 	width: 1200px;
    height: 432px;
    padding: 0;
    margin: 0;
    margin-left: -27px;
}

.map__marker {
    position: absolute;
}

.contact__info {
    background: rgba(255, 255, 255, 0.98);
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    border-radius: 15px;
    max-width: 275px;
    padding: 20px;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 60px;
    padding-bottom: 30px;
}

.contact__info .feedback {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

.adress span {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.adress p {
	padding-top: 10px;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 110px;
    margin-bottom: 3px;
}

.tel .form__tel {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.feedback.modal__send__btn {
	padding-left: 30px;
	padding-right: 30px;
}

div.static__form {
    display: block;
    position: static;
    margin: 20px 0;
}

div.static__form .modal__feedback__form {
    margin: 0 auto;
}

.modal__container {
    position: fixed;
    top: 322px;
    display: none;
    z-index: 2;
    left: calc(50% - (480px / 2));
}

.modal__feedback__form {
    max-width: 431px;
    background: #F8F7F4;
    border-radius: 10px;
    padding: 25px;
    position: relative;
    padding-top: 15px;
}

.modal__container label {
    display: block;
    margin-bottom: 17px;
}

.modal__container input {
    width: 270px;
}

.modal__container textarea {
    width: 411px;
    height: 158px;
    vertical-align: top;
}

.modal__feedback__form p {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    margin-top: 0;
}

.close__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: url(../img/svg/cross-big.svg) center no-repeat;
    width: 18px;
    height: 17px;
}

/*Футер*/

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer::before {
    content: '';
    width: 100%;
    opacity: 0.3;
    background: #FFFFFF;
    height: 2px;
    position: absolute;
    top: 0;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 5px;
}

.social svg {
    fill: white;
    opacity: 0.8;
    width: 33px;
    height: 33px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.social a {
    margin-right: 10px;
}

.social a:active svg {
    border: 2px solid transparent;
}

.social svg:hover {
    opacity: 1;
}

.footer__nav {
	margin-left: -90px;
}

.footer__nav a {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    vertical-align: top;
}

.footer__nav a:hover {
    border-bottom-color: rgba(255, 188, 158, 0.2);
    color: #FFBC9E;
}

.footer__nav__item {
    text-align: left;
}

.footer__nav__item:first-child a {
    font-weight: bold;
    position: relative;
}

.footer__nav__item:first-child a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 2px;
    background: url(../img/svg/heart.svg) center no-repeat;
    width: 15px;
    height: 13px;
}

.footer__nav__items {
    list-style: none;
    max-width: 355px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__nav__item {
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: left;
    min-width: 120px;
}

.copyright {
	width: 200px;
}


.copyright p {
    font-size: 12px;
    line-height: 16px;
    color: #FEFEFE;
    margin-top: 0;
    margin-left: 10px;
}

.copyright img {
	margin-left: 15px;
	margin-top: -10px;
}

.copyright p:hover {
    color: #FFBC9E;
}

.copyright img {
    width: 109px;
}

.copyright img:hover {
    -webkit-filter: drop-shadow(1px 1px 5px #FFBC9E);
    filter: drop-shadow(1px 1px 5px #FFBC9E);
}

/*Служебные и общие стили*/
.modal__show {
    display: block;
    -webkit-animation: modal__grow 1s;
    animation: modal__grow 1s;
}

.overlay {
    z-index: 1;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 0px;
}

.err__trigger {
    -webkit-animation: trigger 0.6s;
    animation: trigger 0.6s;
}

.form__input__text.form__err {
    border: 1px solid red;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal__send__btn {
    background: -o-linear-gradient(bottom, #E74A35 0%, #F26843 100%), #E84D37;
    background: -webkit-gradient(linear, left bottom, left top, from(#E74A35), to(#F26843)), #E84D37;
    background: linear-gradient(0deg, #E74A35 0%, #F26843 100%), #E84D37;
    -webkit-box-shadow: 0px 1px 2px #AC1000;
    box-shadow: 0px 1px 2px #AC1000;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FEFEFE;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

.modal__send__btn:hover,
.main a.modal__send__btn:hover {
    color: #FEFEFE;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), -o-linear-gradient(bottom, #E74A35 0%, #F26843 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#E74A35), to(#F26843));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
    -webkit-box-shadow: 0px 2px 2px #AC1000;
    box-shadow: 0px 2px 2px #AC1000;
    cursor: pointer;
}

.modal__send__btn:active,
.main a.modal__send__btn:active {
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -o-linear-gradient(bottom, #F26843 0%, #E74A35 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left bottom, left top, from(#F26843), to(#E74A35));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(0deg, #F26843 0%, #E74A35 100%);
    -webkit-box-shadow: inset 0px 2px 2px #942718;
    box-shadow: inset 0px 2px 2px #942718;
    color: #FEFEFE;
}

.hover__container {
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;
    padding-top: 20px;
}

.form__input__text:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 9px;
}

.form__input__text:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    padding: 9px;
    outline: none;
}

.form__input__text {
    border: 1px solid rgba(178, 178, 178, 0.52);
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 24px;
    resize: none;
}

.form__input__text::-webkit-input-placeholder {
    font-weight: normal;
    color: #999999;
}

/*Глобальная стилизация img и a допускается по критерию HTMLAcc*/
img {
    width: 100%;
    height: auto;
}

.link:not(.header__nav) {
    text-decoration: none;
    cursor: pointer;
}

.link:hover,
.link:active {
    color: #FFBC9E;
}

.main h1 {
    color: #FFFFFF;
    margin-bottom: 26px;
    font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin-top: 5px;
}

@-webkit-keyframes modal__grow {
    from {
        -webkit-transform: translateX(-2000px) scale(0);
        transform: translateX(-2000px) scale(0);
    }

    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

@keyframes modal__grow {
    from {
        -webkit-transform: translateX(-2000px) scale(0);
        transform: translateX(-2000px) scale(0);
    }

    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes  trigger {
    0%,
  100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes  trigger {
    0%,
  100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.header__contacts {
		margin-top: 20px;
	}

	.social {
		margin-left: -140px;
	}


	.log__static {
	    width: 23%;
	    margin: 0 auto;
	    margin-bottom: 40px;    
	}
}